#
#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

# Instead of skip-networking the default is now to listen only on
#localhost which is more compatible and is not less secure.
bind-address   = 0.0.0.0

